.date-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-blue-50);
}

.date-wrapper {
  width: 192px;
  height: 40px;
  background-color: var(--color-white-50);
  border: 1px solid var(--color-blue-50A);
  border-radius: 32px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--color-grey-100);
  outline: none;
}
