.installment-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.installment-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-blue-50);
}

.installment-wrapper {
  width: 192px;
  display: flex;
  justify-content: space-between;
}

.installment-value {
  width: 100px;
  height: 40px;
  background-color: var(--color-white-50);
  border: 1px solid var(--color-blue-50A);
  border-radius: 32px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--color-grey-100);
  text-align: center;
  outline: none;
}

.installment-value:hover {
  cursor: text;
  outline: 0.1px solid var(--color-blue-50);
}

.installment-value:disabled {
  outline: none;
  cursor: not-allowed;
}

.installment-check-wrapper {
  display: flex;
  align-items: center;
  width: 68px;
}

.installment-check-box {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-color: var(--color-white-50);
  border: 2px solid var(--color-grey-100);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.installment-check-box:hover{
  cursor: pointer;
}

.fa-check {
  font-size: 10px;
  color: var(--color-grey-100);
}

.installment-check-text {
  font-size: 12px;
  color: var(--color-grey-100);
  margin-left: 8px;
}
