@keyframes appear {
  from {
    background-color: var(--color-blue-0A);
  }
  to {
    background-color: var(--color-blue-50A);
  }
}

@keyframes scaleDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes go-bottom {
  0% {
    transform: translateY(-76px);
  }
  100% {
    transform: translateY(0);
  }
}
