:root {
  --color-black-50: #000000;
  --color-black-50A: #00000029;

  --color-blue-50: #53a9ff;
  --color-blue-100: #328de8;

  --color-blue-0A: #53a9ff00;
  --color-blue-50A: #53a9ff69;

  --color-green-50: #53ffb9;
  --color-green-50A: #53ffb969;

  --color-grey-50: #f2f2f2;
  --color-grey-100: #707070;
  --color-grey-100A: #7070709e;

  --color-purple-50: #8053ff;
  --color-purple-100: #6f49db;

  --color-red-50: #ff5353;
  --color-red-50A: #ff535369;
  --color-red-100: #de5959;

  --color-white-50: #ffffff;

  --category-food: #00ffff;
  --category-food-A: #00ffff80;
  --category-house: #8b4513;
  --category-house-A: #8b451380;
  --category-education: #ff1493;
  --category-education-A: #ff149380;
  --category-health: #ff4500;
  --category-health-A: #ff450080;
  --category-transport: #ffff00;
  --category-transport-A: #ffff0080;
}
