.page-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-accounts-per-day {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
