.keyboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numeric-keyboard-wrapper-external {
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: var(--color-white-50);
  border-radius: 9px;
  border: 1px solid #cfcfcf;
}

.numeric-keyboard-wrapper-internal {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-end;
}

.numeric-keyboard-key {
  width: 18vw;
  height: 18vw;
  background-color: var(--color-white-50);
  border-radius: 18vw;
  border: 3px solid var(--color-blue-50);
  font-size: 40px;
  color: var(--color-blue-50);
  margin: 3.7vw;
}

.numeric-keyboard-key-backspace {
  width: 18vw;
  height: 18vw;
  background-color: var(--color-white-50);
  border: none;
  font-size: 28px;
  color: var(--color-blue-50);
  margin: 3.7vw;
}

.header-transaction-amount {
  width: 100%;
  height: 170px;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-red-50);
}

.header-transaction-amount-recipe {
  color: var(--color-green-50);
}

.header-transaction-amount-expense {
  color: var(--color-red-50);
}

.header-transaction-amount-transfer {
  color: var(--color-blue-50);
}
