.navbar-page {
  background-color: var(--color-white-50);
  box-shadow: 0 -12px 6px var(--color-black-50A);
  height: 50px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.navbar-page > .active {
  color: var(--color-blue-50);
}

.navbar-page > .active > .icon-add-account {
  color: var(--color-black-50);
}

.navbar-button-add-account {
  background-color: var(--color-blue-50);
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: none;
  z-index: 1;
  position: absolute;
  top: -20px;
  transition-duration: 300ms;
}

.navbar-button-add-account:hover {
  cursor: pointer;
  filter: brightness(1.07);
  transform: rotate(180deg);
}

.navbar-button-add-account:hover > .icon-add-account {
  color: var(--color-grey-100);
  transition-duration: 300ms;
}

.navbar-button-home,
.navbar-button-wallet {
  border: none;
  background-color: var(--color-white-50);
}

.navbar-button-home:hover,
.navbar-button-wallet:hover {
  cursor: pointer;
}

.icon-add-account,
.fa-home,
.fa-wallet {
  font-size: 22px;
}

.fa-home:hover,
.fa-wallet:hover {
  color: var(--color-grey-100);
  transition-duration: 300ms;
}
