.account-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 16px;
}

.account-category {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.color-cyan {
  background-image: linear-gradient(180deg, var(--category-food-A100), var(--category-food-A50));
}
.color-brown {
  background-image: linear-gradient(180deg, var(--category-house-A100), var(--category-house-A50));
}
.color-pink {
  background-image: linear-gradient(180deg, var(--category-education-A100), var(--category-education-A50));
}
.color-orange {
  background-image: linear-gradient(180deg, var(--category-health-A100), var(--category-health-A50));
}
.color-yellow {
  background-image: linear-gradient(180deg, var(--category-transport-A100), var(--category-transport-A50));
}

.account-title-and-wallet {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 78px;
}

.account-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-grey-100-A100);
}

.account-wallet,
.account-status {
  font-size: 12px;
  color: var(--color-grey-100-A100);
  margin-top: 6px;
}

.account-value-and-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.account-value {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-grey-100-A100);
}
